# requirements.txt

# For Streamlit Dashboard & Core
streamlit
pandas
pymongo
requests
python-dotenv
google-generativeai
geopy
plotly
pytz

# For data_pull.py
schedule
praw
feedparser
fake-useragent

# For dynamic_data_generation.py
Faker